#footer {
	background-color: #344b8e;
	padding: 32px 0;
	.footer-smm-icons {
		ul {
			padding: 0;
			margin: 0;
			text-align: center;
			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 8px;
				a {
					color: #fff;
					font-size: 32px;
					&:hover {
						text-decoration: none;
						color: #30bae7;
      					transition: all .2s;
					}
				}
			}
		}
	}
}
